<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>aloughth</string>
			<string>although</string>
		</array>
		<array>
			<string>diestud</string>
			<string>studied </string>
		</array>
		<array>
			<string>ehpon</string>
			<string>phone</string>
		</array>
		<array>
			<string>utrufe</string>
			<string>future</string>
		</array>
		<array>
			<string>scuoni</string>
			<string>cousin</string>
		</array>
		<array>
			<string>cetrae</string>
			<string>create</string>
		</array>
		<array>
			<string>falinly</string>
			<string>finally</string>
		</array>
		<array>
			<string>iflret</string>
			<string>filter</string>
		</array>
		<array>
			<string>cialspe</string>
			<string>special</string>
		</array>
		<array>
			<string>ttlena</string>
			<string>talent</string>
		</array>
		<array>
			<string>Aremcia</string>
			<string>America</string>
		</array>
		<array>
			<string>suuayll</string>
			<string>usually</string>
		</array>
		<array>
			<string>dlloar</string>
			<string>dollar</string>
		</array>
		<array>
			<string>rrivae</string>
			<string>arrive</string>
		</array>
		<array>
			<string>tertsine</string>
			<string>interest</string>
		</array>
		<array>
			<string>rrivea</string>
			<string>arrive</string>
		</array>
		<array>
			<string>urseyl</string>
			<string>surely</string>
		</array>
		<array>
			<string>ppisetha</string>
			<string>happiest</string>
		</array>
		<array>
			<string>ttaenoint</string>
			<string>attention</string>
		</array>
		<array>
			<string>sienecc</string>
			<string>science</string>
		</array>
		<array>
			<string>priruses</string>
			<string>surprise</string>
		</array>
	</array>
	<key>pointsPerTile</key>
	<integer>5</integer>
	<key>timeToSolve</key>
	<integer>0</integer>
</dict>
</plist>
