<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>omehrt</string>
			<string>mother</string>
		</array>
		<array>
			<string>ahtfre</string>
			<string>father</string>
		</array>
		<array>
			<string>paphy</string>
			<string>happy</string>
		</array>
		<array>
			<string>utsodie</string>
			<string>outside</string>
		</array>
		<array>
			<string>gema</string>
			<string>game</string>
		</array>
		<array>
			<string>reneg</string>
			<string>green</string>
		</array>
		<array>
			<string>ywaa</string>
			<string>away</string>
		</array>
		<array>
			<string>ecaht</string>
			<string>teach</string>
		</array>
		<array>
			<string>fnnuy</string>
			<string>funny</string>
		</array>
		<array>
			<string>iconmg</string>
			<string>coming</string>
		</array>
		<array>
			<string>sylfem</string>
			<string>myself</string>
		</array>
		<array>
			<string>kema</string>
			<string>make</string>
		</array>
		<array>
			<string>alypgin</string>
			<string>playing</string>
		</array>
		<array>
			<string>ucmh</string>
			<string>much</string>
		</array>
		<array>
			<string>rthebo</string>
			<string>brother</string>
		</array>
		<array>
			<string>isters</string>
			<string>sister</string>
		</array>
		<array>
			<string>pety</string>
			<string>type</string>
		</array>
		<array>
			<string>aogl</string>
			<string>goal</string>
		</array>
		<array>
			<string>mmonco</string>
			<string>common</string>
		</array>
		<array>
			<string>muonta</string>
			<string>amount</string>
		</array>
		<array>
			<string>foerbe</string>
			<string>before</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>0</integer>
	<key>pointsPerTile</key>
	<integer>5</integer>
</dict>
</plist>
