<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>nicab</string>
			<string>cabin</string>
		</array>
		<array>
			<string>nomyad</string>
			<string>monday</string>
		</array>
		<array>
			<string>uestday</string>
			<string>tuesday</string>
		</array>
		<array>
			<string>eirndf</string>
			<string>friend</string>
		</array>
		<array>
			<string>tuhrdsay</string>
			<string>thursday</string>
		</array>
		<array>
			<string>dyafri</string>
			<string>friday</string>
		</array>
		<array>
			<string>bourght</string>
			<string>brought</string>
		</array>
		<array>
			<string>mronign</string>
			<string>morning</string>
		</array>
		<array>
			<string>ghint</string>
			<string>night</string>
		</array>
		<array>
			<string>nnrunig</string>
			<string>running</string>
		</array>
		<array>
			<string>waeterh</string>
			<string>weather</string>
		</array>
		<array>
			<string>aethcer</string>
			<string>teacher</string>
		</array>
		<array>
			<string>mmusre</string>
			<string>summer</string>
		</array>
		<array>
			<string>ntwire</string>
			<string>winter</string>
		</array>
		<array>
			<string>srping</string>
			<string>spring</string>
		</array>
		<array>
			<string>yccle</string>
			<string>cycle</string>
		</array>
		<array>
			<string>mfaliy</string>
			<string>family</string>
		</array>
		<array>
			<string>elven</string>
			<string>eleven</string>
		</array>
		<array>
			<string>tewelv</string>
			<string>twelve</string>
		</array>
		<array>
			<string>decett</string>
			<string>detect</string>
		</array>
		<array>
			<string>kaitng</string>
			<string>taking</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>0</integer>
	<key>pointsPerTile</key>
	<integer>5</integer>
</dict>
</plist>
