<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>sbu</string>
			<string>bus</string>
		</array>
		<array>
			<string>lulf</string>
			<string>full</string>
		</array>
		<array>
			<string>xfo</string>
			<string>fox</string>
		</array>
		<array>
			<string>lrig</string>
			<string>girl</string>
		</array>
		<array>
			<string>ebe</string>
			<string>bee</string>
		</array>
		<array>
			<string>sag</string>
			<string>gas</string>
		</array>
		<array>
			<string>xfi</string>
			<string>fix</string>
		</array>
		<array>
			<string>ikcs</string>
			<string>sick</string>
		</array>
		<array>
			<string>ocld</string>
			<string>cold</string>
		</array>
		<array>
			<string>ilhl</string>
			<string>hill</string>
		</array>
		<array>
			<string>amrw</string>
			<string>warm</string>
		</array>
		<array>
			<string>obht</string>
			<string>both</string>
		</array>
		<array>
			<string>kas</string>
			<string>ask</string>
		</array>
		<array>
			<string>oph</string>
			<string>hop</string>
		</array>
		<array>
			<string>palep</string>
			<string>apple</string>
		</array>
		<array>
			<string>akrp</string>
			<string>park</string>
		</array>
		<array>
			<string>omon</string>
			<string>moon</string>
		</array>
		<array>
			<string>snu</string>
			<string>sun</string>
		</array>
		<array>
			<string>borwn</string>
			<string>brown</string>
		</array>
		<array>
			<string>urpple</string>
			<string>purple</string>
		</array>
		<array>
			<string>oanrge</string>
			<string>orange</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>0</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
