<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>whaile</string>
			<string>awhile</string>
		</array>
		<array>
			<string>jyone</string>
			<string>enjoy</string>
		</array>
		<array>
			<string>ddimle</string>
			<string>middle</string>
		</array>
		<array>
			<string>pphaneed</string>
			<string>happened</string>
		</array>
		<array>
			<string>morrotwo</string>
			<string>tomorrow</string>
		</array>
		<array>
			<string>pomcany</string>
			<string>company</string>
		</array>
		<array>
			<string>llodar</string>
			<string>dollar</string>
		</array>
		<array>
			<string>wreth</string>
			<string>threw</string>
		</array>
		<array>
			<string>agiasnt</string>
			<string>against</string>
		</array>
		<array>
			<string>chckien</string>
			<string>chicken</string>
		</array>
		<array>
			<string>bulidngi</string>
			<string>building</string>
		</array>
		<array>
			<string>ttboom</string>
			<string>bottom</string>
		</array>
		<array>
			<string>muotiann</string>
			<string>mountain</string>
		</array>
		<array>
			<string>mmswingi</string>
			<string>swimming</string>
		</array>
		<array>
			<string>knwon</string>
			<string>known</string>
		</array>
		<array>
			<string>bearksaft</string>
			<string>breakfast</string>
		</array>
		<array>
			<string>sudtent</string>
			<string>student</string>
		</array>
		<array>
			<string>capnait</string>
			<string>captain</string>
		</array>
		<array>
			<string>llivgae</string>
			<string>village</string>
		</array>
		<array>
			<string>ttriewn</string>
			<string>written</string>
		</array>
		<array>
			<string>gyoun</string>
			<string>young</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>0</integer>
	<key>pointsPerTile</key>
	<integer>5</integer>
</dict>
</plist>
